<h1>新規登録</h1>

<%= form_with(model: @user, local: true) do |f| %>  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="new_user">
  <%= f.label :なまえ %>
  <%= f.text_field :name %>

  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>

  <%= f.label :パスワード再入力 %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "アカウント作成" %>
  </div>
<% end %>